apiVersion: apps/v1
kind: Deployment
metadata:
  name: image-detector-app
spec:
  replicas: 2 # High availability! 
  selector:
    matchLabels:
      app: detector
  template:
    metadata:
      labels:
        app: detector
    spec:
      containers:
      - name: fastapi-container
        image: naveenbanwala/real-fake-api:latest
        ports:
        - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: detector-service
spec:
  selector:
    app: detector
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: LoadBalancer # This gives you a Public URL on AWS